*{
    margin: 0px;
    padding:0px;
}
body {
    font-family: 'Roboto', sans-serif;
}
.nav {
    padding:15px;
    background-color: #333333;
    color: #ffffff;
    height: 20px;
    display: flex;
    align-items: centre;
    justify-content: space-between;
}
li{
    color: #ffffff;
    text-decoration : none;
    align-items: center;
    margin-right: 10px;
}
a{
    text-decoration : none;
    color: white;
}
.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left:0px ;
}