*{
    margin: 0px;
    padding:0px;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.col1{
    display: flex;
    flex-direction:column;
    border: 20px;
    border-color: #CCCCCC;
    padding: 20px;
    width: 600px;
}

.nav {
    padding:15px;
    background-color: #333333;
    color: #ffffff;
    height: 20px;
    display: flex;
    align-items: centre;
    justify-content: space-between;
    text-decoration : none;
}
/* li{
    color: #ffffff;
    text-decoration : none;
    align-items: center;
    margin-right: 10px;
} */
li a{
    color: white;
    text-decoration : none;
}
.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left:0px ;
}
.btn{
    height: 30px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px #000000;
    margin-top: 0px;
}

.L1 , .L2 , .L3 , .L4 , .L5{
    padding: 20px;
    padding-top: 5px;
    }
.L1{
    background-color: rgb(70, 173, 221);
}
.img_pro{
    width: 100px;
    height: 100px;
    position: relative;
    top: 70px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%; 
}
.img_map{
    width: 20px;
    height: 20px;
}
.img_gear{
    width: 10px;
    height: 10px;    
}
.L2{
    margin-top:50px ;
}
.image{
    width:30px;
    height:30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.c_req,.y_con, .ligne1, .ligne2{
    display: flex;
    align-items: center;
}
.num1 , .num2{
    border: #CCCCCC;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    background-color: #CCCCCC;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    color: #000000;
}
.edu, .c_req, .y_con{
    background-color: #333333;
    padding: 20px;
    padding-top: 5px;
    color: white;
}
.col2{
    padding: 20px;
    display: flex;
    flex-direction:column;
    border: 20px;
    border-color: #CCCCCC;
    padding: 20px;
}

.connection{
    flex:1;
    justify-content: centre;
    align-items: center;
    padding: 2px;
    border-style: groove;
    border-color: #CFCFCF;
}
.Y_connection{
    flex: 2;
    border: 5px ;
    border-style: groove;
    border-color: #CCCCCC;
    margin-top: 20px;
}

.user_card{
    flex: 1;
    border-style: groove;
    border-color: #CCCCCC;
    margin-bottom: 20px;
    
}
.education{
    flex:1;
    border-style: groove;
    border-color: #CCCCCC;
}
.ligne1 , .ligne2{
    display: flex;
    justify-content: space-around;
    align-items: centre;
    margin-top: 5px;
}
.parti1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.parti2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 
.ligne3, .ligne4 ,.ligne5 , .ligne6{
    padding-left: 30px;
    padding-top: 10px;
    justify-content: center;
}
.part3{
    margin: 30px;
    
}
.t1, .t2, .t3{
    padding-top: 20px;
    padding-left: 20px;
}
.t2 , #coleur, #coleur2{
    color: #CCCCCC;
}
